
body {
    background: rgb(45, 35, 242); 
    background: linear-gradient(0deg, rgb(14, 78, 157) 0%, rgb(58, 67, 234) 55%, rgb(31, 146, 253) 100%); 
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.05 rem;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    overflow-x: hidden;
  }
  
  /*-----SECCIÓN MENU-------*/
  #menu_principal {
    height: 70%;
    width: 65%;
    margin: auto;
    
  }
  .menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    position: static;
    
  }
  
  a {
    text-decoration: none;
  }
  a,li:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: transform 0.3s ease-in-out; /* Agrega la transición aquí también */
  }
  
  /* INICIO ICONOS DEL MENÚ*/
  .menu i {
    font-size: 1.4rem;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.3s  ease-in-out;
  }
  
  /* FIN ICONOS DEL MENÚ*/
  /*-----FIN DE SECCIÓN MENÚ------*/
  
  /*------INICIO SECCIÓN ABOUT---------*/
  #about {
    height: auto; /*Cambiar a auto*/
    margin-top: 5vh;
    margin-bottom:5vh;
  
  }
  #seccion_principal {
    height: 100%;
    width: 100%;
  }
  .imagencontenedor {
  width: 100%;
  height: 45%; /* Usar 100vh para cubrir el 100% del alto de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  }
  
  .figureFoto {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .figureFoto img {
  height: 90%;
  width: 90%;
  max-height: 100%;
  max-width: 100%;
  }
  
  .titulo_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem ;
    margin-top: 10px; 
    margin-bottom: 10px;
  }
  .subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem ;
  }
  
  #aboutme {
  border-radius: 10px;
  background: rgba(255,255,255,.05);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  padding: 20px;
  height: auto;
  width: 90%;
  margin: auto;
  text-align: justify;
  margin-top: 40vh; /*MARGEN*/
  }
  /*------FIN SECCIÓN ABOUT---------*/
  
  /*------INICIO SECCIÓN PROYECTOS---------*/
  #proyectos {
  height: auto;
  width: 100%;
  margin-top: 15vh; /*MARGIN TOP*/
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh; /*MARGIN BOTTOM*/
  flex-direction: column;
  }
  #proyectos ,h2 {
  display: flex;
  }
  .proyecto_card {
  border-radius: 10px;
  background: rgba(255,255,255,.05);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  margin-top: 5vh; /*MARGIN TOP*/
  width: 90%;
  height: 40%;
  padding: 20px;
  margin-bottom: 5vh; /*MARGIN BOTTOM*/
  }
  .imagen_cabecera {
  height: 20vh;
  width: 100%;
  
  }
  .imagen_cabecera img {
  height: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
  }
  .cuerpo_card {
  margin-top:2vh; /*MARGIN TOP*/
  height: auto;
  max-height: 100%;
  padding-left: 4px; /*PADDING*/
  padding-right: 4px;
  }
  .titulo_cuerpo {
  
  font-size: 16px;
  height: auto;
  width: auto;
  margin-bottom: 10px; /*MARGIN BOTTOM*/
  }
  .descripcion {
  height: auto;
  width: 100%;
  font-size: 14px;
  text-align:justify;
  margin-bottom: 10px; /*MARGIN BOTTOM*/
  }
  
  
  .live {
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  
  }
  .github .liveb {
  height: 50%;
  width: 70%;
  max-height: 100%;
  text-decoration: none;
  text-decoration: none;
  
  
  
  }
  
  /*------FIN SECCIÓN PROYECTOS---------*/
  /*------INICIO SECCION CONTACTO-------*/
  #contact {
  height: auto;
  color: white;
  padding: 50px 0;
  text-align: center;
  }
  
  .card {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  background: rgba(255,255,255,.05);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.25);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
  padding: 20px;
  }
  
  .card-title {
  margin-bottom: 20px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  }
  
  .form-group {
  margin-bottom: 20px;
  }
  
  label {
  display: flex;
  margin-bottom: 5px;
  margin-left: 20px;
  }
  
  input, textarea {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  }
  
  #env {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 100%;
  max-height: 100%;
  }
  
  #env:hover {
  background-color: #0056b3;
  }
  
  /*------FIN SECCION CONTACTO---------*/
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
  box-sizing: border-box;
  }
  
  /* Remove default padding */
  ul[class],
  ol[class] {
  padding: 0;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd,
  ul,
  li {
  margin: 0;
  }
  
  /* Set core body defaults */
  body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  }
  
  /* Remove list styles on ul, ol elements with a class attribute */
  ul[class],
  ol[class] {
  list-style: none;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
  text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img {
  max-width: 100%;
  display: block;
  }
  
  /* Natural flow and rhythm in articles by default */
  article > * + * {
  margin-top: 1em;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
  font: inherit;
  }
  
  /* Remove all animations and transitions for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  }
  
  @media only screen and (min-width: 375px) and (max-width: 425px) {
  .figureFoto img {
    height: 100%;
    width: 100%;
  }
  .titulo_principal h1 {
    font-size: 2.3rem;
  }
  .subtitulo h2 {
    font-size: 1.7rem;
  }
  #aboutme p {
    font-size: 1.1rem;
  }
  #proyectos, h2 {
    font-size: 1.6rem;
  }
  .titulo_cuerpo h3 {
    font-size: 1.3rem;
  }
  .descripcion p {
    font-size: 1rem;
  }
  }
  @media only screen and (min-width: 425px) and (max-width: 768px) {
  .github .liveb {
    height: 50%;
    width: 70%;
  }
  
  .titulo_principal h1 {
    font-size: 2.5rem;
  }
  .subtitulo h2 {
    font-size: 1.9rem;
  }
  #aboutme p {
    font-size: 1.2rem;
  }
  #proyectos, h2 {
    font-size: 1.8rem;
  }
  .titulo_cuerpo h3 {
    font-size: 1.4rem;
  }
  .descripcion p {
    font-size: 1.1rem;
  }
  }
  @media only screen and (min-width: 425px) and (max-width: 768px) {
  
  .figureFoto img {
    min-width: 50%;
    min-height: 40%;
    max-width: 40%;
    height: 40%;
    width: 40%;
  }
  #aboutme p {
    font-size: 1.3rem;
  }
  #proyectos, h2 {
    font-size: 1.9rem;
  }
  .proyecto_card {
    width: 75%;
  }
  .titulo_cuerpo h3 {
    font-size: 1.5rem;
  }
  .descripcion p {
    font-size: 1.2rem;
  }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
  .figureFoto img {
    min-width: 20%;
    min-height: 40%;
    max-width: 40%;
    height: 40%;
    width: 50%;
  }
  #aboutme p {
    font-size: 1.3rem;
  }
  .titulo_principal h1 {
    font-size: 2.7rem;
  }
  .subtitulo h2 {
    font-size: 2.1rem;
  }
  
  #proyectos, h2 {
    font-size: 2.1rem;
  }
  .proyecto_card {
    width: 60%;
  }
  .titulo_cuerpo h3 {
    font-size: 1.5rem;
  }
  .descripcion p {
    font-size: 1.2rem;
  }
  .card {
    width: 50%;
  }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .figureFoto img {
    min-width: 20%;
    min-height: 40%;
    max-width: 40%;
    height: 40%;
    width: 50%;
  }
  .titulo_principal h1 {
    font-size: 3.5rem;
  }
  .subtitulo h2 {
    font-size: 2.5rem;
  }
  #aboutme p {
    font-size: 1.6rem;
  }
  
  #proyectos, h2 {
    font-size: 2.4rem;
  }
  
  .proyecto_card {
    width: 50%;
  }
  .titulo_cuerpo h3 {
    font-size: 1.8rem;
  }
  .descripcion p {
    font-size: 1.5rem;
  }
  .card {
    width: 50%;
  }
  }
  @media only screen and (min-width: 1440px) and (max-width: 2560px) {
  .figureFoto img {
    min-width: 20%;
    min-height: 40%;
    max-width: 40%;
    height: 40%;
    width: 50%;
  }
  .titulo_principal h1 {
    font-size: 3.5rem;
  }
  .subtitulo h2 {
    font-size: 2.5rem;
  }
  #aboutme p {
    font-size: 1.6rem;
  }
  
  #proyectos, h2 {
    font-size: 2.4rem;
  }
  
  .proyecto_card {
    width: 30%;
  }
  .titulo_cuerpo h3 {
    font-size: 1.8rem;
  }
  .descripcion p {
    font-size: 1.5rem;
  }
  .card {
    width: 50%;
  }
  }
  @media only screen and (min-width: 2560) and (max-width: 2560px) {
  .figureFoto img {
    min-width: 20%;
    min-height: 40%;
    max-width: 40%;
    height: 40%;
    width: 50%;
  }
  .titulo_principal h1 {
    font-size: 5rem;
  }
  .subtitulo h2 {
    font-size: 4rem;
  }
  #aboutme p {
    font-size: 2.5rem;
  }
  
  #proyectos, h2 {
    font-size: 3rem;
  }
  
  .proyecto_card {
    width: 40%;
  }
  .titulo_cuerpo h3 {
    font-size: 2.2rem;
  }
  .descripcion p {
    font-size: 2rem;
  }
  .card {
    width: 60%;
  }
  }